<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">

  <% _group_id = "gid_#{SecureRandom.alphanumeric}" %>

  <% field.values.each do |v| %>
    <%= text_field_tag(
        nil,
        v,
        name: "#{f.object_name}[#{field.attribute}][]",
        class: _group_id,
    )
    %>

  <% end %>

  <% text_field_tag(
      nil,
      '',
      name: "#{f.object_name}[#{field.attribute}][]",
      class: _group_id,
    )
  %>

  <%= button_tag(
      '+',
      onclick: 'var $l = $(".' + _group_id + '").last(); $l.clone(false).insertAfter($l).val(""); return false;',
    )
  %>

<script>
  (function() {
    var group_selector = '.<%= _group_id %>'
    var $f = $(group_selector).parents('form');

    document.addEventListener("DOMContentLoaded", function(evt) {

      $f.on('submit', function() {
        // Filter empty fileds before submit
        $(group_selector).filter(function() {
          return !this.value;
        }).removeAttr('name');
      });
    });
  })()
</script>
</div>
